@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    background-color:#ECECEC;
}
.section-register {
    .logo-header {
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .form-register {
        p {
            font-weight: bolder;
            font-size: 42px;
            font-family: 'Poppins';
        }
        .username {
            margin-left: -134px;
            font-weight: bold;
            font-family: 'Poppins';
        }
        .email {
            margin-left: -105px;
            font-weight: bold;
            font-family: 'Poppins';
        }
        .password {
            margin-left: -140px;
            font-family: 'Poppins';
            font-weight: bold;
        }
        input {
            border: none;
            background-color: #494949;
            width: 220px;
            height: 40px;
            border-radius: 5px;
            color: white;
        }
        ::placeholder {
            font-family: 'Poppins';
            font-size: 15px;
        }
        .btn-register {
            margin-top: 30px;
            background: none;
            border: 2px solid black;
            border-radius: 5px;
            color: black;
            width: 172px;
            height: 42px;
        }  
        span {
            margin-top: 30px;
            margin-left:-63px;
            font-size: 12px;
            color: rgba($color: #000000, $alpha: 0.5);
        }
        a {
            margin-top: 30px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 12px;

        }
        .btn-success {
            color: red;
        }
    }
}
.section-payment {
    .logo-header {
        margin-top: 10px;
        margin-bottom: 140px;
    }
    .box-payment{
        overflow: hidden;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid black;
        width: 600px;
        height: 400px; 

        .logo-payment {
            margin-top: -50px;
            width: 100px;
            height: 100px;
            position: relative;
        }

        .payment-method {
            h5 {
                font-size: 14px;
                overflow: hidden;
            }
            input:checked + label {
                color: orange;
            }
            img {
                margin-top: -3px;
                width: 22px;
                height: 22px;
            }
            label {
                font-size: 15px;
            }

        }
        .detail-payment {
            h5 {
                font-size: 14px;
                overflow: hidden;
            }
            p {
                font-size: 10px;
            }
        }

    }
}

// Section Login
.section-login {
    .logo-header {
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .form-login {
        p {
            font-weight: bolder;
            font-size: 42px;
            font-family: 'Poppins';
        }
        .email {
            margin-left: -105px;
            font-weight: bold;
            font-family: 'Poppins';
        }
        .password {
            margin-left: -140px;
            font-family: 'Poppins';
            font-weight: bold;
        }
        input {
            border: none;
            background-color: #494949;
            width: 220px;
            height: 40px;
            border-radius: 5px;
            color: white;
        }
        ::placeholder {
            font-family: 'Poppins';
            font-size: 15px;
        }
        .btn-login {
            margin-top: 30px;
            background: none;
            border: 2px solid black;
            border-radius: 5px;
            color: black;
            width: 172px;
            height: 42px;
        }  
        span {
            margin-top: 30px;
            margin-left:-63px;
            font-size: 12px;
            color: rgba($color: #000000, $alpha: 0.5);
        }
        a {
            margin-top: 30px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 12px;

        }
    }
}