#upcoming {
  color: white;
  position: relative;
}

.M1 {
  margin-top: 80px;
}

.img-thumbnail {
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 280px;
  height: 350px;
}

.title-2 {
  margin-top:100px;
  color: white;
  text-align: left;
  font-size:15px;
}

.sinopsis-1 {
  top: 53%;
  position: absolute;
  color: white;
  text-align: left;
  margin-left: 40px;
  font-size: 10px;
}

.title-3 {
  top: 89%;
  position: absolute;
  color: white;
  text-align: left;
  margin-left: 30px;
  font-size: 25px;
}

.sinopsis-3 {
  top: 92%;
  position: absolute;
  color: white;
  text-align: left;
  margin-left: 40px;
  font-size: 10px;
}

.title-5 {
  top: 47%;
  position: absolute;
  color: white;
  text-align: left;
  margin-left: 30px;
  font-size: 25px;
}

.sinopsis-5 {
  top: 53%;
  position: absolute;
  color: white;
  text-align: left;
  margin-left: 40px;
  font-size: 10px;
}
@media (min-width: 312px) and (max-width: 425px) {
  .col {
    align-items: center;
    width: 400px;
    display: flex;
  }

  .img-thumbnail {
    width: 400px;
    height: 400px;
  }

  #populer {
    color: white;
    position: relative;
  }

  .img-thumbnail {
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 280px;
    height: 350px;
  }

  #joker {
    top: 23%;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: -256px;
    font-size: 25px;
  }

  #joker-1 {
    top: 24.5%;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: -256px;
    font-size: 10px;
  }

  #games {
    top: 41%;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: -256px;
    font-size: 25px;
  }

  #games-1 {
    top: 42.5%;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: -256px;
    font-size: 10px;
  }

  #free {
    top: 58%;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: -256px;
    font-size: 25px;
  }

  #free-1 {
    top: 61%;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: -256px;
    font-size: 10px;
  }

  #combat {
    top: 77%;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: -256px;
    font-size: 25px;
  }

  #combat-1 {
    top: 78.5%;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: -256px;
    font-size: 10px;
  }

  .title-3 {
    top: 95%;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: -256px;
    font-size: 25px;
  }

  .sinopsis-3 {
    top: 96.5%;
    position: absolute;
    color: white;
    text-align: left;
    margin-left: -256px;
    font-size: 10px;
  }
}
